body {
	background-color: black;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: large;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
}
h1 {
	background: linear-gradient(275deg, #5856c1 0%, #52e0e0 50%, #5856c1 100%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    	font-size: 4em;
}
h2 {
	background: linear-gradient(275deg, #5856c1 0%, #52e0e0 50%, #5856c1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
h3 {
	background: linear-gradient(275deg, #5856c1 0%, #52e0e0 50%, #5856c1 100%);                            
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
p {
    font-size: 1em;
    padding-bottom: 25px;
}
.cyber {
	padding-top 35px;
    	width: 200px;
    	rotate: 10deg;
    	top: -100px;
}
.gradient {
	background: linear-gradient(275deg, #5856c1 0%, #52e0e0 50%, #5856c1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
